{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<!--cards-->
<div class="row row-cols-1 row-cols-md-12 g-4">
<div class="col">
  <div class="card h-100">
    <img src="{{ flower.photo.url }}" class="card-img-top" alt="Skyscrapers"/>
    <div class="card-body">
<!--edit and delete buttons-->
        <div class="d-flex flex-row-reverse">
            <a href="{% url 'delete_flower' flower.id %}"><i class="fas fa-trash-can"></i></a> &nbsp; &nbsp; &nbsp;
          <a href="{% url 'update_flower' flower.id %}"><i class="fas fa-pen"></i></a>
<!--edit and delete buttons-->
      </div>
        <a href="#">
            <h5 class="card-title">{{ flower.name }}</h5>
        </a>
      <p class="card-text">
          About: {{ flower.about|linebreaks }}
      </p>
    </div>
    <div class="card-footer d-flex justify-content-around">
      <small class="text-muted">{{ flower.created_at }}</small>
      <small class="text-muted">{{ flower.views }}</small>
        <a href="{% url 'flowers_by_species' flower.species.id %}">
            <small>{{ flower.species }}</small>
        </a>
    </div>
  </div>
</div>
</div>
<!--cards-->
<div class="mt-5 d-flex justify-content-center">
    <a href="{% url 'home' %} " class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init  data-mdb-ripple-color="dark">
        Ortga</a>
</div>

<!--comment-->
{% if request.user.is_authenticated %}
<form method="post" action="{% url 'comment_save' flower.pk %}">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary btn-rounded">
            <i class="fas fa-paper-plane"></i> Izoh yuborish
        </button>
    </div>
</form>
{% else %}
<p>Izoh qoldirish uchun saytga login qiling: <a href="{% url 'login_view' %}">Login</a></p>
{% endif %}

{% if comments %}
    {% for comment in comments %}
    <div class="card text-center mt-3 delete-comment-form">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>{{ comment.author.username }}</span>
            {% if request.user == comment.author or request.user.is_superuser %}
            <form method="post" action="{% url 'delete_comment' comment.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-danger p-0">
                    <i class="far fa-trash-alt"></i>
                </button>
            </form>
            <a href="{% url 'comment_update' comment.id %}">
                Edit
            </a>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.text }}</p>
        </div>
        <div class="card-footer text-muted">{{ comment.created }}</div>
    </div>
    {% endfor %}
{% else %}
    <p>Hozircha izohlar mavjud emas. Birinchi bo'lib izoh qoldiring!</p>
{% endif %}
<!--comment-->

{% endblock main %}

